@import 'tailwindcss' theme(static);
@import '@nuxt/ui';

@theme {
  --font-sans: 'Inter', sans-serif;
  --ui-border: var(--ui-color-neutral-400);
}

:root {
  --ui-primary: var(--color-indigo-500);
}

.dark {
  --ui-primary: var(--color-indigo-300);
}
